body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1164ff;
  color: white;
  padding: 10px 20px;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  background: #1164ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #555;
}

.post-card {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 15px;
  border-radius: 6px;
}

.form-container {
  margin-top: 20px;
}

.form-container input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
